.page {
  box-sizing: border-box;
  margin-left: 220px;
  padding: 35px 50px;
  width: 900px;
}

.page-content {
  border: 1px solid red;
  box-sizing: border-box;
  margin-top: 0;
  opacity: 1;
  width: 800px;
  height: auto;
}