.container-header {
  background-color: rgb(236, 236, 236);
  display: flex;
  min-height: 70px;
  justify-content: space-around;
}
.header{
  display: flex;
  align-items: center;
}

.button-search {
  margin-top: 18px;
  padding: 0;
  height: 35px;
  width: 70px;
}

.input-search {
  height: 30px;
}